body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcc99;
    /* Light Orange */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: white;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.links {
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    background-color: #ffcc99;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.links a:hover {
    background-color: #ff9966;
    /* Slightly darker orange */
}

footer {
    background-color: #ffcc99;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}